{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}DjangoAPP{% endblock %}
        </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% tailwind_css %}
        {% block links %}{% endblock %}
        {% block scripts %}
            <script src="{% static 'src/hamburguer.js' %}" defer></script>
        {% endblock %}
    </head>
    <body>
        <nav class="bg-zinc-900 text-white fixed w-full top-0 z-10 p-0">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between items-center h-16">
                    <div class="flex-shrink-0">
                        <a href="{% url 'home' %}" class="text-xl font-bold mr-3">MP</a>
                    </div>
                    <div class="relative mx-auto flex-grow max-w-xl">
                        <input type="text"
                               class="w-full py-2 pl-6 pr-4 rounded-lg bg-zinc-800 text-white focus:outline-none focus:ring-1 focus:ring-gray-400"
                               placeholder="Buscar produtos..." />
                   </div>
                    <div class="hidden md:flex space-x-8 ml-auto">
                        <a href="{% url 'admin:index' %}" class="hover:text-gray-400 transition">Admin</a>
                        <a href="{% url 'about' %}" class="hover:text-gray-400 transition">Sobre nos</a>
                        <a href="#" class="hover:text-gray-400 transition">Login</a>
                        <a href="#" class="hover:text-gray-400 transition">Sair</a>
                        <a href="#" class="hover:text-gray-400 transition">Cadastrar</a>
                    </div>
                    <button id="hamburguer-btn" class="md:hidden cursor-pointer">
                        <svg class="w-6 h-6 text-white"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>
                <div id="hamburguer-menu"
                     class="hidden md:hidden flex-col space-y-2 pt-2 pb-4 text-center">
                    <a href="admin/"
                       class="block py-2 text-white hover:text-gray-400 transition">Admin</a>
                    <a href="{% url 'about' %}" class="hover:text-gray-400 transition">Sobre nos</a>
                    <a href="#" class="block py-2 text-white hover:text-gray-400 transition">Login</a>
                    <a href="#" class="block py-2 text-white hover:text-gray-400 transition">Sair</a>
                    <a href="#" class="block py-2 text-white hover:text-gray-400 transition">Cadastrar</a>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
